{% extends 'layouts/index.html' %}

{% block content %}
  <from action="/posts/create/" method="post">
    {% csrf_token %}
    <p>
      {{ errors.title_error }}
      <input type="text" name="title" placeholder="Title">
    </p>
    <p>
      {{ errors.description_error }}
      <input type="text" name="description" placeholder="Description">
    </p>
    <p>
      {{ errors.rate_error }}
      <input type="number" name="rate" placeholder="Rate">
    </p>

    <input type="submit" value="Submit">

  </from>
{% endblock %}